apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-mpdrfjtf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-mpdrfjtf:111cee4241feb0d30cd974f1fc3d6b231a9aa195@sha256:e2504c13d051edadd9725c83e18065c756e6d855ad8b6db1cd7ead80f813751d
          name: container-image
